* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Pen Script', cursive;
  color: rgb(0, 0, 0);

  text-decoration: none;

}

body {
  /* background: url("../image/back_screen.jpg");
  background-size: 1920px 1080px;
  height: 100vh;
  height: -webkit-fill-available;
  background-repeat: no-repeat;
  background-color: #6f6150; */

  width: 100%;
  height: 100vh;
  background-image: url("../image/background.jpg");
  background-repeat: no-repeat;
  /* background-image가 컨테이너를 가득 채우지 못할 경우에도 반복하지 않는다. */
  background-size: cover;
  /* 사이즈가 container에 맞지 않아도 꽉 차도록 채운다. */
  background-position: center;
  /* background-image가 컨테이너에 가운데로 오도록 한다. */
  overflow-x: hidden;
  /*가로 스크롤바 없애기*/
  overflow-y: hidden;
  /*세로 스크롤바 없애기*/

  
  /* 드래그 방지 */
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
     user-select: none;

}

.container {
  display: flex;
  height: 160vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.desk {
  /* border: 1px solid red; */
  background-color: rgb(254, 255, 182);
  text-align: center;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 500px;
  height: 380px;
  margin-left: -250px;
  margin-right: -190px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
}

.screen {
  /* border: 1px solid red;  */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 16.5%;
  z-index: 1;
}

.screen>img {
  width: 1000px;
}

.char {
  /* border: 1px solid red;  */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 6%;
  z-index: 3;
}

.char>img {
  width: 80%;
}

h3 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

.buttons {
  /* border: 1px solid red; */
  position: absolute;
  display: inline-block;
  top: 73%;
  left: 50%;
  width: 300px;
  height: 100px;
  margin-left: -160px;
  margin-right: -100px;
}

.buttons > button {
  background-color: #fff;
  width: 120px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  transition: 0.6s;
}


.buttons button h2{
  font-size: 30px;
}

.today:hover {
  opacity: 30%;
}

.today:hover {
  opacity: 30%;
}

@media screen and (max-width: 780px) {

  /* 모바일 수평 스크롤 금지 */
  html,
  body {
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }

  .container {
    width: 100%;
  }

  .desk {
    width: 300px;
    height: 250px;
    margin-top: 200px;
    margin-left: -150px;
    margin-right: -125px;
  }

  .buttons>button {
    width: 120px;
    height: 60px;
    /* margin: 9px; */
  }
  .buttons h2{
    text-align: center;
    font-size: 40px;
  }
  .quote{
    font-size: 20px;
  }

  h2 {
    font-size: 25px;
  }

  .char>img {
    width: 200px;
  }

  h3 {
    font-size: 20px;
  }
}



h1,
h2 {
  font-size: 75px;
  text-transform: uppercase;
}

h1 span,
h2 span {
  width: 100%;
  float: center;
  color: #000000;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  transform: translateY(50px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
}

h1 {
  top: 10%;
  position: center;
}

h1 span {
  animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
}

h1 span:first-child {
  animation-delay: 0.7s;
}

h1 span:last-child {
  color: #000000;
  animation-delay: 0.5s;
}

h2 {
  top: 10%;
  position: center;
}

h2 span {
  animation-delay: 4.1s;
  -webkit-animation-fill-mode: forwards;
}

h2 span:first-child {
  animation-delay: 4.2s;
}

h2 span:last-child {
  color: #000000;
  animation-delay: 4s;
}


.content-slider  {
  align-content: 20%;
  height: 360px;
  font-size: 10px;

}

h4{
  font-size: 35px;
}

h5{
  font-size: 25px;
}

.slider {
  height: 420px;
  width: 680px;
  margin: 40px auto 0;
  overflow: visible;
  position: center;
}

.mask {
  overflow: hidden;
  height: 320px;
  animation-fill-mode: forwards;

}

.slider ul {

  margin: -8pc;
  padding: -20px;
  position: center;
}

.slider li {
  width: 680px;
  height: 520px;
  position: absolute;
  list-style: none;
}

.slider .quote {
  font-size: 40px;
  font-style: italic;
}

.slider .source {
  font-size: 20px;
  text-align: right;
}

.slider li.anim1 {
  animation: cycle 1s;
  animation-fill-mode: forwards; /*종료 후 위치*/
  animation-play-state: paused; /* 실행 or 정지 */
}

.slider li.anim2 {
  animation: cycle2 10s;
  animation-fill-mode: forwards; /* 종료 후 위치 */
  


}

.slider li.anim3 {
  animation: cycle3 10s;
  animation-fill-mode: forwards; /* 종료 후 위치 */

}

.slider li.anim4 {
  animation: cycle4 10s;
  animation-fill-mode: forwards; /* 종료 후 위치 */

}

.slider li.anim5 {
  animation: cycle5 10s;
  animation-fill-mode: forwards; /* 종료 후 위치 */


}


.slider li {
animation-play-state:unset;
}

@keyframes cycle {
  0% {
    top: 0px;
  }

  4% {
    top: 0px;
  }

  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }

  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }

  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }

  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }

  96% {
    top: -325px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 1;
    text-decoration-color: rgba(255, 255, 255, 0);
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }

  16% {
    top: -325px;
    opacity: 0;
  }

  20% {
    top: 0px;
    opacity: 1;
  }

  24% {
    top: 0px;
    opacity: 1;
  }

  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }

  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }

  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
    text-decoration-color: rgba(255, 255, 255, 0);

  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }

  36% {
    top: -325px;
    opacity: 0;
  }

  40% {
    top: 0px;
    opacity: 1;
  }

  44% {
    top: 0px;
    opacity: 1;
  }

  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }

  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }

  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
    text-decoration-color: rgba(255, 255, 255, 0);

  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }

  56% {
    top: -325px;
    opacity: 0;
  }

  60% {
    top: 0px;
    opacity: 1;
  }

  64% {
    top: 0px;
    opacity: 1;
  }

  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }

  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }

  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
    text-decoration-color: rgba(255, 255, 255, 0);

  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }

  76% {
    top: -325px;
    opacity: 0;
  }

  80% {
    top: 0px;
    opacity: 1;
  }

  84% {
    top: 0px;
    opacity: 1;
  }

  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
    text-decoration-color: rgba(255, 255, 255, 0);

  }
}
