* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Pen Script', cursive;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

body {
    width: 100%;
    height: 100vh;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    /* background-image가 컨테이너를 가득 채우지 못할 경우에도 반복하지 않는다. */
    background-size: cover;
    /* 사이즈가 container에 맞지 않아도 꽉 차도록 채운다. */
    background-position: center;
    /* background-image가 컨테이너에 가운데로 오도록 한다. */

    overflow-x: hidden;
    /*가로 스크롤바 없애기*/
    overflow-y: hidden;
    /*세로 스크롤바 없애기*/


    /* 드래그 방지 */
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.container {
    /* border: 1px solid red; */
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    height: 650px;
}

.form1 {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 10px;
    width: 700px;
    height: 400px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.name {
    /* border: 1px solid red; */
    display: block;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.btns {
    /* border: 1px solid red; */
    position: absolute;
    display: inline-block;
    top: 80%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -200px;
    margin-right: -100px;
}

.btn_yes {
    background-color: #fff;
    width: 150px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin: 20px;
    margin-top: 50px;
    padding: 10px;
    transition: 0.6s;
}

.btn_no {
    background-color: #fff;
    width: 150px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin: 20px;
    margin-top: 50px;
    padding: 10px;
    transition: 0.6s;
}
.btn_yes:hover{
    opacity: 30%;
}

.btn_no:hover{
    opacity: 30%;
}

button h3{
    font-size: 40px;
}

h1 {
    font-size: 80px;
    color: black;
}

h3 {
    font-size: 40px;
}

h2 {
    font-size: 45px;
}

#resultStr {
    font-size: 80px;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 780px) {

    /* 모바일 수평 스크롤 금지 */
    html,
    body {
        max-width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }

    .container {
        width: 100%;
    }


    .form1 {
        padding: 10px;
        width: 800%;
        height: 1000%;
    }

}